:root {
  --primary: #9783c9;
  --secondary: #c3aaf0;
  --tertiary: #8d72ba;
  --text: #eeeeee;
  --header: #493c6e;
  --white: #ffffff;
  --warning: #db5540;
  --error: #ec4e4e;
  --success: #4caf50;
}

body {
  background-color: #c7c8f2;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table .header {
  background-color: var(--header);
  width: 400px;
  height: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table .header .title {
  color: var(--text);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 30px;
}

.table .header img {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10;
  opacity: 0.9;
  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.table .header img:hover {
  opacity: 1;
}

.table .row {
  width: 400px;
  height: 30px;
  background-color: var(--secondary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  position: relative;
}

.table .row .button {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table .row .button:hover {
  background-color: var(--tertiary);
}

.table .row .button-selected {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table .row .button-selected:hover {
  background-color: var(--warning);
  filter: invert(44%) sepia(10%) saturate(3442%) hue-rotate(320deg)
    brightness(99%) contrast(104%);
}

.table .row img {
  width: 20px;
  height: 20px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.table .row .edit {
  position: absolute;
  right: 40;
}

.table .row .trash {
  position: absolute;
  right: 0;
}

.table .row img.check {
  position: absolute;
  left: 10;
  display: block;
}

.table .row img.checked {
  position: absolute;
  left: 10;
  display: none;
}

.table .row .task {
  margin-left: 50px;
  max-width: 290px;
}
